
<div *ngIf="stateService.isLoggedIn ">
    <div>
        <h1>Cart item list</h1><hr>
    </div>
    <span><input type="text"  [(ngModel)]="textToHighlight" placeholder="Search product by name" 
        class="search-by-name">
    </span>

    <div *ngFor='let currentProduct of products | byProductName :textToHighlight' class="item-list" >
          <p>
            {{currentProduct.name}}  <b>||</b> Price: {{currentProduct.price}} <br>
          </p> 
          <!-- <p>
            Price: {{currentProduct.price}}<br>
          </p>  -->
          <p>
            Quantity: {{currentProduct.quantity}} <b>||</b> item total price: {{currentProduct.totalPrice}}<br>
          </p> 
          <!-- <p>
            item total price: {{currentProduct.totalPrice}}
          </p>  -->
          <img src={{currentProduct.imageUrl}} alt={{currentProduct.name}} class="cart-item-img">
        </div>
        <p [innerHTML]="productsString | highlightSearch :textToHighlight"></p>
        <hr>
    <div class="order-total">
        total price: {{grandTotal}}
    </div>
<div>
    <form #orderForm='ngForm' autocomplete="off">
        <h1>Shipment Details</h1>
       
        <p>
          <mat-form-field appearance="legacy" >
            <mat-label>City</mat-label>
            <input type="text" matInput placeholder="City" name="city" #cityInput='ngModel'
             [(ngModel)]="userOrderDetails.city" (dblclick)='dblClickCity(orderForm)' required >
          </mat-form-field><br>
          <span *ngIf="cityInput.touched && cityInput.errors?.required">city field is empty"<br></span>
      </p>
        <p>
          <mat-form-field appearance="legacy" >
            <mat-label>Street</mat-label>
            <input type="text" matInput placeholder="Street" name="street" #streetInput='ngModel'
             [(ngModel)]="userOrderDetails.street" (dblclick)='dblClickStreet(orderForm)' required >
          </mat-form-field><br>
          <span *ngIf="streetInput.touched && streetInput.errors?.required">"street field is empty"</span><br>
        </p>
        <p>
          <mat-form-field appearance="legacy" >
            <mat-label>Credit card</mat-label>
            <input type="number" matInput placeholder="fill 4 last number of your credit card" name="creditCard"
             #creditCardInput='ngModel' [(ngModel)]="userOrderDetails.creditCard" pattern="[0-9]{4}" required >
          </mat-form-field><br>
          <span *ngIf="creditCardInput.touched && creditCardInput.errors?.required">"fill 4 last number of your credit card"</span><br>
          <span *ngIf="creditCardInput.touched && creditCardInput.errors?.pattern">"fill 4 last number of your credit card"</span><br>  
        </p>
        <mat-label>Choose shipping date:</mat-label>

        <input 
        matInput
         [min]="currentDate" 
         [matDatepicker]="picker" 
         [matDatepickerFilter]="myFilter" 
         name="shippingDate" 
        #dateInput='ngModel'
         [(ngModel)]="userOrderDetails.shippingDate" 
         (click)="picker.open()" required>
        <mat-datepicker-toggle matSuffix [for]="picker">shipping</mat-datepicker-toggle>
        <mat-datepicker [dateClass]="busyDatesStyle" touchUi  #picker></mat-datepicker><br>


        <button mat-raised-button color="accent" 
        (click)="completeOrder(orderForm)" [disabled]='orderForm.form.invalid' *ngIf="this.isCompleteBtn"
        > Complete Order</button>
        <h3 *ngIf='this.isProgressBarOpen'>Please wait while your order is being proccesed  </h3>
        <mat-progress-bar mode="indeterminate" *ngIf='this.isProgressBarOpen'></mat-progress-bar>
        <button mat-raised-button color="accent" 
         *ngIf="this.isModalOpen" data-bs-toggle="modal" data-bs-target="#exampleModal" 
        > Finish Order</button>
    </form>
</div>
</div>
<ng-container *ngIf="this.isModalOpen">

<div  class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">You Completed your order</h1>
        </div>
        <div class="modal-body">
          you can download your invoice here
          <a [href]="fileUrl" download="file.txt">DownloadFile</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="acceptOrder()">Accept</button>
        </div>
      </div>
    </div>
  </div>
</ng-container>
