
<div *ngIf="stateService.isLoggedIn ">
    <div>
        <h1>Cart item list</h1><hr>
    </div>
    <span><input type="text"  [(ngModel)]="textToHighlight" placeholder="Search product by name" 
        class="search-by-name"></span>
        <p [innerHTML]="products | highlightSearch :textToHighlight"></p>
    <div class="order-total">
        total price: {{grandTotal}}
    </div>
<div>
    <form #orderForm='ngForm' autocomplete="off">
        <h1>Shipment Details</h1>
       
        <input type="text" placeholder="city" name="city" autocomplete="off"
        #cityInput='ngModel' [(ngModel)]="userOrderDetails.city" required><br>
        <span *ngIf="cityInput.touched && cityInput.errors?.required">"city field is empty"</span><br>

        <input type="text" placeholder="street" name="street"   autocomplete="off"
        #streetInput='ngModel' [(ngModel)]="userOrderDetails.street" required><br>
        <span *ngIf="streetInput.touched && streetInput.errors?.required">"street field is empty"</span><br>

        <input type="number" name="creditCard" placeholder="fill 4 last number of your credit card"
        #creditCardInput='ngModel' [(ngModel)]="userOrderDetails.creditCard" pattern="[0-9]{4}" required ><br>
        <span *ngIf="creditCardInput.touched && creditCardInput.errors?.required">"fill 4 last number of your credit card"</span><br>
        <span *ngIf="creditCardInput.touched && creditCardInput.errors?.pattern">"fill 4 last number of your credit card"</span><br>
        
        <input 
        matInput
         [min]="currentDate" 
         [matDatepicker]="picker" 
         [matDatepickerFilter]="myFilter" 
         name="shippingDate" 
        #dateInput='ngModel'
         [(ngModel)]="userOrderDetails.shippingDate" 
         (click)="picker.open()" required>
        <mat-datepicker-toggle matSuffix [for]="picker">shipping</mat-datepicker-toggle>
        <mat-datepicker [dateClass]="busyDatesStyle" touchUi  #picker></mat-datepicker><br>


        <!-- <input type="date" name="shippingDate"  #dateInput='ngModel' [(ngModel)]="userOrderDetails.shippingDate" required ><br> -->
        <button mat-raised-button color="accent" 
        (click)="completeOrder()" [disabled]='orderForm.form.invalid' data-bs-toggle="modal" data-bs-target="#exampleModal">Complete Order</button>
    </form>
</div>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title" id="exampleModalLabel">You Completed your order</h1>
        </div>
        <div class="modal-body">
          you can download your invoice here
          <a [href]="fileUrl" download="file.txt">DownloadFile</a>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-primary" data-bs-dismiss="modal" (click)="acceptOrder()">Accept</button>
        </div>
      </div>
    </div>
  </div>