
.item-container {
  height: 180px;
  align-items: center;
  border-bottom: solid grey 5px;
}


.cart-item-details {
  position: relative;
  top: -65px;
  right: -70px;

}

.total-price {
  position: relative;
  right: 230px;
  bottom: 80px;
}

#cart-item-q {
  width: 60px;
  font-weight: bolder;
}

.cart-item-remove {
  position: relative;
  left: -440px;
  top: -120px;
}

.order-total {
  font-weight: bolder;
  font-size: x-large;
  margin: 15px;

}

.cart-item-img {
  width: 70px;
  height: 70px;
  position: relative;
  right: -152px;
  top: -75px;
}

.item-list{
  width: 350px;
  text-align: center;
  position: relative;
  right: -358px;
  margin-bottom: -46px;
}
.search-by-name{
  margin-bottom: 20px;
}
span{
  color: rgb(247, 120, 97);
}