<h1>Create New Product</h1>  



<form #registerForm='ngForm' enctype="multipart/form-data">
    <p>
        <mat-form-field appearance="legacy" >
          <mat-label>Product name</mat-label>
          <input type="text" matInput placeholder="Product name" name="name" #productNameInput='ngModel'
           [(ngModel)]="newProduct.name" required >
        </mat-form-field><br>
        <span *ngIf="productNameInput.errors?.required && productNameInput.touched" >"You must enter product name"<br></span>
    </p>
    <p>
        <mat-form-field appearance="legacy" >
          <mat-label>Product price</mat-label>
          <input type="number" matInput placeholder="product price" name="price" #productPriceInput='ngModel'
           [(ngModel)]="newProduct.price" required min="1" pattern="^\d*(\.\d{0,2})?$">
        </mat-form-field><br>
        <span *ngIf="productPriceInput.errors?.required && productPriceInput.touched">"You must enter product price"<br></span>
        <span *ngIf="productPriceInput.errors?.min ">"Minimum product value is 1$"<br></span>
        <span *ngIf="productPriceInput.errors?.pattern ">"Max decimal for product is only 2 digits"<br></span>
    </p>
    <p>
        <mat-form-field appearance="legacy" >
          <mat-label>Image URL</mat-label>
          <input type="text" matInput placeholder="Insert image URL" name="imageUrl" #productImageInput='ngModel'
           [(ngModel)]="newProduct.imageUrl" required>
        </mat-form-field><br>
        <span *ngIf="productImageInput.errors?.required && productImageInput.touched">"You must enter product image URL "<br></span>
    </p>

     <select [ngModel]="newProduct.categoryId" (ngModelChange)="onChange($event)" name="category" required
     #categoryInput='ngModel' >
         <option *ngFor="let category of categoriesService.categories " value="{{category.id}}" >{{category.name}} </option>
     </select><br>
     <span *ngIf="categoryInput.errors?.required">"please choose a catgory"<br></span>    



     <file-upload [(ngModel)]="newProduct.image" name="files" accept="file_extension|image/*" 
     #productImageFileInput='ngModel' [fileslimit]="1" ></file-upload>
     <span *ngIf="productImageFileInput.errors?.required && productImageFileInput.touched">"upload img is must"<br></span>    



    <button mat-raised-button color="accent" (click)="createProduct()"   [disabled]='registerForm.form.invalid'>Create</button>

</form>
