.products-container {
  padding-top: 30px;
  display: inline-block;
  align-items: center;

}

.categories-container {
  margin-bottom: 10px;
  left: 4px;
  top: 69px;
  position: absolute;
  width: 1512px;
  text-align: center;
  border-bottom: 3px solid black;
  background-color: rgb(124, 218, 218);
  height: 48px;
  align-items: center;
  padding-top: 13px;
}

.category {
  margin: 5px;
  font-weight: 500;
}

.category:hover {
  color: rgb(48, 3, 3);
  font-weight: bolder;
}

.search-by-name {
  border: none;
  height: 20px;
}

.search-by-name:focus {
  border: none;
  background-color: white;
}

.add-product {
  position: relative;
  top: 60px;
  margin: 25px;
  border: none;
  background: none;
  color: rgb(124, 218, 218);
  transform: scale(2);
}
.add-product:hover{
  color: rgb(101, 170, 170);
  transition: color 0.5s;

}