<div class="toggle-btns-container">
    <button mat-stroked-button color="warn" *ngIf="this.isCartMinimize" (click)="this.isCartMinimize=!this.isCartMinimize" >Minimize cart</button>
    <button mat-stroked-button color="primary" *ngIf="!this.isCartMinimize" (click)="!this.isCartMinimize=!this.isCartMinimize">Show cart</button>
</div>
<div *ngIf="this.isCartMinimize" 
 [class.show-hide-cart]="isCartMinimize" 
 class="show-hide-cart"
 >
<div *ngIf="stateService.isLoggedIn ">
    <div>
        <button mat-stroked-button color="warn" (click)="emptyCart()" class="empty-cart-btn">empty cart</button><hr>
    </div>
    <div class="item-container"  *ngFor="let item of products; let i = index">
    <div class="cart-item"> 
        <img src="{{item.imageUrl}}" alt="{{item.name}}" class="cart-item-img">
        <div class="cart-item-details">
            <p class="item-name"><b>{{item.name}}</b></p>
            <p>category: <b>{{item.categoryName}}</b> </p>
            <p> Quantity: <input type="number" value="{{item.quantity}}" id="cart-item-q" (change)="updateCart($event,item)" min=1></p>
            <p>total price <b>{{item.totalPrice}} $</b></p>
            <button mat-icon-button color="warn" class="cart-item-remove" (click)="removeItem(item)"  matTooltip="Click to delete item" matTooltipPosition="right"><mat-icon aria-hidden="false" aria-label="e872">delete_forever</mat-icon></button>
            
        </div>
    </div>
    <hr>
    </div>
    <div class="cart-bottom-content">
        <div class="order-total">total price: {{grandTotal}}</div>
        <div>
            <button class="order-btn" (click)="completeOrder()"  matTooltip="Click to complet order" matTooltipPosition="right">Order</button>
        </div>
    </div>
</div>
</div>

