<p>edit-product works!</p>

<form #editProductForm='ngForm' >
        <p>
            <mat-form-field appearance="legacy" >
              <mat-label>Product name</mat-label>
              <input type="text" matInput placeholder="Product name" name="name" #productNameInput='ngModel'
              [(ngModel)]="this.prodcutToEdit!.name" required >
            </mat-form-field><br>
            <span *ngIf="productNameInput.errors?.required && productNameInput.touched">"You must enter product name"<br></span>
        </p>
        <p>
            <mat-form-field appearance="legacy" >
              <mat-label>Product price</mat-label>
              <input type="number" matInput placeholder="product price" name="price" #productPriceInput='ngModel'
              [(ngModel)]="this.prodcutToEdit!.price" required min="1" pattern="^\d*(\.\d{0,2})?$">
            </mat-form-field><br>
            <span *ngIf="productPriceInput.errors?.required && productPriceInput.touched">"You must enter product price"<br></span>
            <span *ngIf="productPriceInput.errors?.min ">"Minimum product value is 1$"<br></span>
            <span *ngIf="productPriceInput.errors?.pattern ">"Max decimal for product is only 2 digits"<br></span>
        </p>
        <p>
            <mat-form-field appearance="legacy" >
              <mat-label>Image URL</mat-label>
              <input type="text" matInput placeholder="Insert image URL" name="image" #productImageInput='ngModel'
              [(ngModel)]="this.prodcutToEdit!.imageUrl" required>
            </mat-form-field><br>
            <span *ngIf="productImageInput.errors?.required && productImageInput.touched">"You must enter product image URL "<br></span>
        </p>

        <mat-label>Product categoryName</mat-label><br>
        <select [(ngModel)]="this.prodcutToEdit!.categoryName" (ngModelChange)="onChange($event)" name="category" required
        #categoryInput='ngModel' >
        <option value="" disabled>current: {{this.prodcutToEdit!.categoryName}}</option>
            <option *ngFor="let category of categoriesService.categories " value="{{category.id}}" >{{category.name}} </option>
        </select><br>
        <span *ngIf="categoryInput.touched && categoryInput.errors?.required">"please choose a catgory"<br></span>
                
        <button mat-raised-button color="accent" (click)="updateProduct()" [disabled]='editProductForm.form.invalid'>update product</button>
        
</form>

