<img src="../../../assets//1.jpg" alt="logo">

<p class="about-text">
    
Vidal market prides itself on working closely with growers and farmers to ensure the best products are available to customers. Sourcing 96% of all fresh fruit and vegetables and 100% of fresh meat from farmers and growers. 

As one of most innovative retailers, Vidal market understands that consumers are looking for new, simple ways to shop. Consumers can shop from the comfort of their computer at home or on the train on their way home from work using the Vidal market Supermarket App and the best part is, their groceries can be delivered straight to the kitchen bench.
</p>
