<app-navbar></app-navbar>

<section>
    <header>
        <app-header></app-header>
    </header>

    <aside>
        <app-about-us *ngIf="!this.stateService.isLoggedIn"></app-about-us>
       <app-cart-container *ngIf="this.stateService.isCartContainer"></app-cart-container>
       <app-edit-product *ngIf="this.stateService.isEditProduct"></app-edit-product>
    </aside>

    <main>
<router-outlet></router-outlet>
    </main>

    <footer>
        <app-footer></app-footer>
    </footer>

</section> 
