section {
  /* min-height: 100%; */
  border: 2px solid black;
  background-color: rgb(255, 255, 255);
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 12 columns */
  /* grid-template-rows: 15% 70% 15%; */
  /* 3 rows */
}

section>* {
  border: 2px solid black;
}

header,
footer {
  grid-column: span 12;
}

aside {
  min-height: 300px;

  min-width: 380px;
  overflow-y: scroll;
  grid-column: span 3;
  resize: horizontal;
  overflow: auto;
}

main {
  flex: 1;
  overflow-y: scroll;
  grid-column: span 9;
  min-height: 700px;
}
