section {
  /* min-height: 100%; */
  border: 2px solid black;
  background-color: rgb(241, 237, 237);
  text-align: center;
  box-sizing: border-box;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  /* 12 columns */
  /* grid-template-rows: 15% 70% 15%; */
  /* 3 rows */
}

section>* {
  border: 2px solid black;
}

header,
footer {
  grid-column: span 12;
}

aside {
  overflow-y: scroll;
  grid-column: span 3;
}

main {
  overflow-y: scroll;
  grid-column: span 9;
}
