  <div>
    <h1>{{this.cartStatusMessage}}</h1>
  </div>
<button *ngIf="this.isCartOpen ===2" mat-raised-button color="primary" (click)="toggleCartContainer2()" >Continue shopping ...</button>
<button *ngIf="this.isCartOpen ===3" mat-raised-button color="accent" (click)="toggleCartContainer()">Click to start shopping</button>
<app-products-container *ngIf="isProductsListOn" ></app-products-container>

<hr>

<div *ngIf="this.isCartOpen ===2 || this.isCartOpen ===3">
  <div>
    <img src="../../../assets/fresh vegi.jpeg" alt="fresh vegi" id="img-info">
    <h1 class="pic-h1">Every day fresh vegetables are<br>being harvested from the field  </h1>
</div>
<div>
  <img src="../../../assets/cheese.jpg" alt="cheese" id="img-info">
  <h1 class="pic-h1">Quality dairy products are being<br>shipped from around the world</h1>
</div>
<div>
  <img src="../../../assets/red_meat.jpg" alt="red_meat" id="img-info">
  <h1 class="pic-h1">Variety of different meat<br> with
     quality taste </h1>
</div>
<div>
  <img src="../../../assets/bread.jpg" alt="bread" id="img-info">
  <h1 class="pic-h1">Daily baked bread straight from <br> the oven</h1>
</div>
</div>




