.mat-raised-button {
  margin: 10px;
}

.entrace-pic {
  margin: 15px;
  width: 600px;
  height: 400px;
  margin: 15px;
  border-radius: 50px;
}

.pic-container {
  position: absolute;
  right: 100px;
  display: inline;
}

.form-container {
  position: absolute;
  left: 440px;
  top: 88px;
  display: inline;


}

.container {
  position: absolute;
  top: 100px;
}
input,button {
  margin: 10px;
}

span{
  color: rgb(247, 120, 97);
}